
Source Code/.NET Core/RES/.vs/RES/v15/.suo
Source Code/.NET Core/RES/.vs/RES/v15/.suo
*.ide
Source Code/.NET Core/RES/debug.log
*.ide
Source Code/.NET Core/RES/.vs/RES/v15/Server/sqlite3/storage.ide-shm
Source Code/.NET Core/RES/.vs/RES/v15/Server/sqlite3/storage.ide-wal
Source Code/.NET Core/RES/.vs/RES/v15/.suo
Source Code/.NET Core/RES/.vs/RES/v15/.suo
